{% extends "base.html" %}

{% block body %}
<script src="static/js/local.js"></script>

<div data-role="page" data-theme="b">

	<div data-role="header">
		<h1>{{ title }}</h1>
	</div><!-- /header -->

	<div data-role="content">

        <div class="ui-field-contain">
            <label for="selector1">Select Option:</label>
            <select name="selector1" id="selector1" data-native-menu="false">
                <option value="choose-one" data-placeholder="true">Choose one...</option>
                {% for scenario in scenarios %}
                <option value="{{scenario[0]}}">{{scenarios[scenario]}}</option>
                {% endfor %}
            </select>
        </div>


        <form>
            <p>The button is <span id="buttonState"></span></p>
            <br>
            <select name="flip-1" id="flip-1" data-role="slider" style="float: left;">
                <option value="off">LED off</option>
                <option value="on">LED on</option>
            </select>
        </form>
        
        <form>
            <label for="flip-checkbox-1">Flip toggle switch checkbox:</label>
            <input type="checkbox" data-role="flipswitch" name="flip-checkbox-1" id="flip-checkbox-1">
        </form>

        <input type="button" data-theme="b" btn-yellow value="Power">

    </div><!-- /content -->

</div><!-- /page -->
{% endblock %}

