{% extends "base.html" %}

{% block body %}

<div data-role="page">

	<div data-role="header">
		<h1>{{ title }}</h1>
	</div><!-- /header -->

	<div data-role="content">
		<div data-role="collapsible">
		   <h3>I'm a header</h3>
		   <p>I'm the collapsible content. By default I'm closed, but you can click the header to open me.</p>
		</div>
	
		<p>Hello world</p>		
				<div class="ui-grid-a">
					<div class="ui-block-a"><strong>I'm Block A</strong> and text inside will wrap</div>
					<div class="ui-block-b"><strong>I'm Block B</strong> and text inside will wrap</div>
				</div><!-- /grid-a -->
		<br>
		<ul data-role="listview" data-inset="true" data-filter="true">
			<li><a href="layout.html" rel="external" >Acura</a></li>
			<li><a href="#">Audi</a></li>
			<li><a href="#">BMW</a></li>
			<li><a href="#">Cadillac</a></li>
			<li><a href="#">Ferrari</a></li>
		</ul>
		
		<a href="switch/testfunc" rel="external" data-role="button" data-theme="b" data-icon="star">Star button</a>
		<a href="#" data-role="button" data-theme="a">Button</a>
		
		
		<label for="slider">Input slider:</label>
		<input type="range" name="slider" id="slider" value="25" min="0" max="100"  />
		
		<div data-role="fieldcontain">
			<fieldset data-role="controlgroup">
				<legend>Choose a pet:</legend>
					<input type="radio" name="radio-choice-1" id="radio-choice-1" value="choice-1" checked="checked" />
					<label for="radio-choice-1">Cat</label>

					<input type="radio" name="radio-choice-1" id="radio-choice-2" value="choice-2"  />
					<label for="radio-choice-2">Dog</label>

					<input type="radio" name="radio-choice-1" id="radio-choice-3" value="choice-3"  />
					<label for="radio-choice-3">Hamster</label>

					<input type="radio" name="radio-choice-1" id="radio-choice-4" value="choice-4"  />
					<label for="radio-choice-4">Lizard</label>
			</fieldset>
		</div>
</div>
	</div><!-- /content -->

</div><!-- /page -->
{% endblock %}
